<header id="header">
      <nav id="navbar" style="background-image:url('{{ asset('build/hero_background.png') }}')"class="navbar fixed-top d-none d-md-block d-lg-block navStyle ">
        <div class="container-fluid">
          <div>
            <a href="{{path('home')}}" class="navbar-brand justify-content-start link-light logo">ChingYi P.C</a>
          </div>

          <div class="justify-content-end ">
            <ul class="nav " id="js_nav">
              <li class="nav-item">
                <a href="{{path('home')}}#home" class="nav-link active link-light">Accueil</a>
              </li>
              <li class="nav-item">
                <a href="{{path('home')}}#about" class="nav-link link-light">A propos</a>
              </li>
              <li class="nav-item">
                <a href="{{path('home')}}#skills" class="nav-link link-light">Compétences</a>
              </li>
              <li class="nav-item">
                <a href="{{path('home')}}#work" class="nav-link link-light">Réalisations</a>
              </li>
              <li class="nav-item">
                <a href="{{path('home')}}#contact" class="nav-link link-light">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <nav class="navbar d-block d-md-none d-lg-none navStyle" >
        <div class="container-fluid">
          <a href="{{path('home')}}" class="navbar-brand justify-content-start logo link-light">ChingYi P.C</a>
          <a id="togglebutton" class="navbar-toggler text-end fixed-top link-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <i class='bx bx-menu fs-3 '></i>
          </a>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title green logo " id="offcanvasNavbarLabel">ChingYi P.C</h5>
              <a type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></a>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav nav justify-content-end flex-grow-1 pe-3 " id="js_nav">
                <li class="nav-item">
                  <a href="{{path('home')}}#home" class="nav-link  active text-secondary">Accueil</a>
                </li>
                <li class="nav-item">
                  <a href="{{path('home')}}#about" class="nav-link text-secondary">A propos</a>
                </li>
                <li class="nav-item">
                  <a href="{{path('home')}}#skills" class="nav-link text-secondary">Compétences</a>
                </li>
                <li class="nav-item">
                  <a href="{{path('home')}}#work" class="nav-link text-secondary">Réalisations</a>
                </li>
                <li class="nav-item">
                  <a href="{{path('home')}}#contact" class="nav-link text-secondary">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

  
    </header>