{% extends 'base.html.twig' %}

{% block title %} {{individualProject.name}} {% endblock %}

{% block body %}
    {% block header %}
        {{ include('projectHeader.html.twig') }}
        {% endblock %}
          {% block main %}
       
        <main style="margin-top: 50px;">
    <section id="project-individual" class=" container" style="background-color:white;" class="container ">
      <div class="row g-5">
        <div class="col-md-8">    
          <article class="blog-post">
            
            <h3 class="blog-post-title py-4">{{individualProject.name}}</h3>
            <div class="fotorama"data-width="100%">
            {% for image in individualProject.images%}
              <img src="{{ asset('uploads/projectImages/')}}{{image.path}}" data-caption="{{image.figcaption}}">
            {% endfor %}
            </div>
            <div class="icon m-3 text-center ">
            {% if individualProject.webSiteLink is not empty %}
              <a href="{{individualProject.webSiteLink}}" target="_blank" rel="noopener noreferrer"class="" title="voir le site"><i class='bx bxs-zoom-in fs-2'></i></a>
             {% endif %} 
             {% if individualProject.gitHubLink is not empty%}
              <a href="{{individualProject.gitHubLink}}"target="_blank" rel="noopener noreferrer" class="" title="vois le repository"><i class='bx bxl-github bx-flip-horizontal fs-2' ></i></a>
            {% endif %} 
            </div>
            <div class=" m-3 text-center ">
            {% for tag in individualProject.tags %}
              <span class="badge badge-color2 m-1">{{tag.name}}</span>
            {% endfor %}
            </div>
            <div style="font-family:Open Sans" class="py-2">
            {{individualProject.longDescription|raw}}
            </div>
            </div>
          </article>

        

        {{ include('project/widget.html.twig') }}
      </div>
    </section>

    </main>

        {% endblock %}
{% endblock %}
